## Here I´m documenting some exercises using the book _Practical Statistics for Data Science_

In the book the author uses R and Python but for this notebook I will use Python, R and Julia

## **Chapter 1: Exploratory Data Analysis**

Example 1: Location Estimates of Population and Murder Rates

In [1]:
# Creating data frame
using IJulia
using DataFrames

df = DataFrame(state = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware"], population = [4779736,710231,6392017,2915918,37253956,5029196,3574097,897934], murder_rate = [5.7,5.6,4.7,5.6,4.4,2.8,2.4,5.8])

8×3 DataFrame
 Row │ state        population  murder_rate
     │ String       Int64       Float64
─────┼──────────────────────────────────────
   1 │ Alabama         4779736          5.7
   2 │ Alaska           710231          5.6
   3 │ Arizona         6392017          4.7
   4 │ Arkansas        2915918          5.6
   5 │ California     37253956          4.4
   6 │ Colorado        5029196          2.8
   7 │ Connecticut     3574097          2.4
   8 │ Delaware         897934          5.8

In [8]:
# Compute the mean, trimmed mean, and median for the population using Julia

using StatsBase
using Statistics

println(mean(df.population))
println(mean(trim(df.population, prop = 0.1)))
println(median(df.population))

7.694135625e6
7.694135625e6
4.1769165e6