## Here IÂ´m documenting some exercises using the book _Practical Statistics for Data Science_

## **Chapter 1: Exploratory Data Analysis**

Example 1: Location Estimates of Population and Murder Rates

In [2]:
# Creating data frame
import pandas as pd
import numpy as np
from scipy import stats

data = {
    'state' : ["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware"], 
    'population' : [4779736,710231,6392017,2915918,37253956,5029196,3574097,897934], 
    'murder_rate' : [5.7,5.6,4.7,5.6,4.4,2.8,2.4,5.8]
}

df = pd.DataFrame(data = data)

In [3]:
df.head(10)

         state  population  murder_rate
0      Alabama     4779736          5.7
1       Alaska      710231          5.6
2      Arizona     6392017          4.7
3     Arkansas     2915918          5.6
4   California    37253956          4.4
5     Colorado     5029196          2.8
6  Connecticut     3574097          2.4
7     Delaware      897934          5.8

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        8 non-null      object
 1   population   8 non-null      int64
 2   murder_rate  8 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 324.0+ bytes

In [6]:
# Mean

print("Mean: ", df['population'].mean())

# Trimmed mean (trimmed mean avoids the outliers), removing 10% from each extreme

print("Trimmed mean: ", stats.trim_mean(df['population'], 0.1)) 

# Median (50th percentile)

print("Median: ", df['population'].median())

Mean:  7694135.625
Trimmed mean:  7694135.625
Median:  4176916.5